.logo{
    width: 142px;
    height: 33px;
    background-repeat: no-repeat;
}

@media (max-width: 915px) {
    .logo{
        width: 103.74px;
        height: 24.4px;
        margin-left: 8.5%;
    }
}