.profile-info__edit-button{
    background-image: url('../../../images/Edit Button.svg');
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    grid-column: 2/2;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-info__edit-button:hover{
    transition: 0.3s;
    opacity: 0.6;
}

@media (max-width: 915px) {
    .profile-info__edit-button{
        width: 18px;
        height: 18px;
    }
}