.profile-info__name{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 915px) {
    .profile-info__name{
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}